@model Web_DomainClasses.Entities.School.Classroom

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <br />
            <div class="row">
                <!-- Section - Class Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="sideFrameD">
                        <div class="studentdesc">
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <hr style="border-bottom:2px dotted" />
                            <h4>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4>
                        </div>

                    </div>
                </div>
                <br />
                <!-- Section - Teacher/School --------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div Class="dottedFrame mt-40">
                        <h5>Class Teacher</h5>
                        @*LINK TO SCHOOL Teachers PAGE*@
                        <a style="color:#f3efe9; font-size:24px;" href="@Url.Action("Details", "Teacher", new { id = Model.ClassroomId })">
                            @Html.DisplayFor(model => model.Teacher.FirstName) @Html.DisplayFor(model => model.Teacher.LastName)
                        </a>
                        <hr />
                        @*LINK TO SCHOOL DETAIL PAGE*@
                        <a style="color:#f3efe9; font-size:24px;" href="@Url.Action("Details", "School", new { id = Model.ClassroomId })">
                            @Html.DisplayFor(model => model.School.Name)
                        </a>

                        <h4>@Html.DisplayFor(model => model.School.City)</h4>
                    </div>
                </div>

                @Html.HiddenFor(model => model.School.SchoolId)

                <div class="col-md-12 mx-auto text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Section - STUDENTS ---------------------------------------->
                            @foreach (var item in Model.Students)
                            {
                                <div class="col">
                                    <a href="@Url.Action("Details", "Student", new { id = item.StudentId })">
                                        <div class="dottedFrameDark isThisLink">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <!-- Section - Avatar ------------------------------------------>
                                                <div style="width:300px; height:300px;" class="wrap-studentAvatar Mama_Avatar">
                                                    @*AVATAR HERE ------------------------------------------------------>>*@
                                                    <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(modelItem => item.Avatar.Background.ImageUrl)" />
                                                    <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(modelItem => item.Avatar.Body.ImageUrl)" />
                                                    <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(modelItem => item.Avatar.Clothing.ImageUrl)" />
                                                    <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(modelItem => item.Avatar.Hair.ImageUrl)" />
                                                </div>
                                            </div>
                                            <div class="paintingInfo text-center">
                                                @*LINK TO STUDENT MAIN PAGE*@
                                                <a href="@Url.Action("Details", "Student", new { id = item.StudentId })">
                                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                                </a>
                                                <hr />
                                                <h5 class="text-center">
                                                    <i class="fa fa-child" aria-hidden="true"></i> Age: @Html.DisplayFor(modelItem => item.Age)
                                                </h5>
                                                <br />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Section - Links ---------------------------------------->
                <div style="height:180px;" class="container col-6 align-self-center">
                    <hr />
                    <br />
                    <div class="row">
                        <div class="btn_contain3 col">
                            <div class="btn_child_norm3">
                                <a href="@Url.Action("Details", "School", new { id = Model.School.SchoolId })"><img src="~/images/UIcons/schools_off.png" /></a>
                            </div>
                            <div class="btn_child_live3">
                                <a style="color:#f3efe9" href="@Url.Action("Details", "School", new { id = Model.School.SchoolId })"><img src="~/images/UIcons/schoolspng.png" /> go to schools </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


