@*@model IEnumerable<Web_DomainClasses.Entities.School.Classroom>*@
@model PagedList.IPagedList<Web_DomainClasses.Entities.School.Classroom>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}


<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <!-- Create New ------------------------------------------>
            <div class="col-3">
                @if (User.IsInRole("Admin"))
                {
                    <div class="row">
                        <div class="col-3">
                            <img style="margin-top:-12px;" src="~/images/UIcons/schoolspng.png" />
                        </div>
                        <div class="col-9">
                            <h4>@Html.ActionLink("Create New", "Create", null, new { @class = "h4" })</h4>
                        </div>
                    </div>

                }
            </div>
            <!-- Sort ------------------------------------------>
            <div class="col-3 SortByBox text-center">
                Sort By: @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "h6" })
            </div>
            <!-- Filter ------------------------------------------>
            <div class="col-5">
                @using (Html.BeginForm("Index", "Classroom", FormMethod.Get))
                {
                    <div class="row mx-auto">
                        <div class="col-6 mx-0 wrap-avabox text-center">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "inputchat", placeholder = "Filter" })
                        </div>
                        <div class="col-4 mx-0 container-login100-form-btn">
                            <input type="submit" value="Search" class="login10-form-btn" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-1">
                <img style="margin-top:-20px; width:80px;" src="~/images/filter.png" />
            </div>
            <hr />

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch">
                    <div class="">
                        <div class="dottedFrameDark2 isThisLink">
                            <br />
                            <h4>@Html.DisplayFor(modelItem => item.School.Name)</h4>
                            <hr />
                            <a href="@Url.Action("Details", "Classroom", new { id = item.ClassroomId })">
                                <div class="Schooldesc">
                                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                    <hr />
                                    <ul class="text-right paintingInfo">
                                        <li>Description: @Html.DisplayFor(modelItem => item.Description)</li>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <!-- Section - Links ---------------------------------------->
                            <div style="height:180px;" class="container col-12">
                                <br />
                                <div class="row">
                                    <div class="btn_contain1 col">
                                        <div class="btn_child_norm1">
                                            <a title="edit" href="@Url.Action("Edit", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/edit_off.png" /></a>
                                        </div>
                                        <div class="btn_child_live1">
                                            <a title="edit" href="@Url.Action("Edit", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/edit.png" /></a>
                                        </div>
                                    </div>

                                    <div class="btn_contain2 col">
                                        <div class="btn_child_norm2">
                                            <a title="details" href="@Url.Action("Details", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/details_off.png" /></a>
                                        </div>
                                        <div class="btn_child_live2">
                                            <a title="details" href="@Url.Action("Details", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/details.png" /></a>
                                        </div>
                                    </div>

                                    <div class="btn_contain3 col">
                                        <div class="btn_child_norm3">
                                            <a href="@Url.Action("Delete", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/delete_off.png" /></a>
                                        </div>
                                        <div title="delete" class="btn_child_live3">
                                            <a title="delete" href="@Url.Action("Delete", "Classroom", new { id = item.ClassroomId })"><img src="~/images/UIcons/delete.png" /></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



    </div>
</section>









