@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">

                <div style="margin-top:15px;" class="col navigationTitle text-center">
                    <a href="@Url.Action("About", "Home")">(The School Gallery)</a>
                </div>

                <div class="col float-right">
                    <div class="row">
                        <div style="margin-top:15px;" class="navigationTitle text-center">
                            <a>(<span>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span></a>
                        </div>
                        <div class="btn_contain1 col-1">
                            <a title="Logged" style="color:#5c5c5c; text-shadow:1px 1px #f3efe9;" href="@Url.Action("Index", "Manage")"><img src="~/images/UIcons/loged.png" /></a>
                        </div>

                        <div class="btn_contain2 col-1">
                            <div class="btn_child_norm2">
                                <a title="Log Off" href="javascript:document.getElementById('logoutForm').submit()"><img id="iconBtn" src="~/images/UIcons/logoff.png" /></a>
                            </div>
                            <div class="btn_child_live2">
                                <a title="Log Off" href="javascript:document.getElementById('logoutForm').submit()"><img id="iconBtn" src="~/images/UIcons/logoff_on.png" /></a>
                            </div>
                        </div>

                        <div class="btn_contain4 col-1">
                            <div class="btn_child_norm4">
                                <a title="Home" href="@Url.Action("Index", "Home")"><img src="~/images/UIcons/schools_off.png" /></a>
                            </div>
                            <div class="btn_child_live4">
                                <a title="Home" href="@Url.Action("Index", "Home")"><img src="~/images/UIcons/schoolspng.png" /></a>
                            </div>
                        </div>

                        <div class="btn_contain5 col-1">
                            <div class="btn_child_norm5">
                                <a title="Cart" href="@Url.Action("Index", "PayPal")"><img src="~/images/UIcons/cart_off.png" /></a>
                            </div>
                            <div class="btn_child_live5">
                                <a title="Cart" href="@Url.Action("Index", "PayPal")"><img src="~/images/UIcons/cart.png" /></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
}
else
{

    <div class="container">
        <div class="row">

            <div style="margin-top:15px;" class="col navigationTitle text-center">
                <a href="@Url.Action("About", "Home")">(The School Gallery)</a>
            </div>

            <div class="col float-right">
                <div class="row">

                    <div class="btn_contain1 col-1">
                        <div class="btn_child_norm1">
                            <a title="LogIn" href="@Url.Action("Login", "Account")"><img src="~/images/UIcons/login.png" /></a>
                        </div>
                        <div class="btn_child_live1">
                            <a title="LogIn" href="@Url.Action("Login", "Account")"><img src="~/images/UIcons/login_on.png" /></a>
                        </div>
                    </div>
                    <div class="btn_contain2 col-1">
                        <div class="btn_child_norm2">
                            <a title="Register" href="@Url.Action("Register", "Account")"><img src="~/images/UIcons/register.png" /></a>
                        </div>
                        <div class="btn_child_live2">
                            <a title="Register" href="@Url.Action("Register", "Account")"><img src="~/images/UIcons/register_on.png" /></a>
                        </div>
                    </div>

                    <div class="btn_contain4 col-1">
                        <div class="btn_child_norm4">
                            <a title="Home" href="@Url.Action("Index", "Home")"><img src="~/images/UIcons/schools_off.png" /></a>
                        </div>
                        <div class="btn_child_live4">
                            <a title="Home" href="@Url.Action("Index", "Home")"><img src="~/images/UIcons/schoolspng.png" /></a>
                        </div>
                    </div>

                    <!-- Cart Indication --------------------------- -->
                    <div style="margin-left:14px; margin-top:15px;" class="navigationTitle text-center">
                        <a style="font-size:24px;">Please Log-In)</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
