@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <a href="@Url.Action("Profile", "Profile")"><img src="~/images/loged.png" /></a>
        <a href="javascript:document.getElementById('logoutForm').submit()"><img id="iconBtn" src="~/images/UIcons/logoff.png" />log off</a>

    }
}
else
{
    // Log In / Register Buttons ------------------------------------------->>
    <a href="@Url.Action("Login", "Account")"><img id="iconBtn" src="~/images/UIcons/login.png" /> log in </a>
    <a href="@Url.Action("Register", "Account")"><img id="iconBtn" src="~/images/UIcons/register.png" /> register </a>

    // Cart / Donations ---------------------------------------------------->>
    <a href="@Url.Action("Index", "PayPal")"><img src="~/images/cart.png" /> cart </a>
    <a href="@Url.Action("PayPalPayment", "PayPal")"><img src="~/images/donation.png" /> donation </a>


    // This are the Default 'Actionlinks'. I choose to work with 'Actions' so as to add Images.
    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    @*@Html.ActionLink("Pay us bitch", "PayPalPayment", "PayPal")*@

}
