

<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">

        <div class="nav navbar-nav">
            <br />
            <hr style="width:10px;" />
            <a href="@Url.Action("Index", "Home")" title="Home" aria-label="Home">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            </a>
            <br />

            <hr style="width:10px;" />
            <a href="@Url.Action("Index", "Painting")" title="Paintings" aria-label="Paintings">
                <i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i>
            </a>
            <br />

            <hr style="width:10px;" />
            <a href="@Url.Action("Index", "School")" title="Schools" aria-label="Schools">
                <i class="fa fa-bank fa-lg" aria-hidden="true"></i>
            </a>
            <br />

            <hr style="width:10px;" />
            <a href="@Url.Action("Index", "Student")" title="Students" aria-label="Students">
                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
            </a>
            <br />

            <hr style="width:10px;" />
            <a href="@Url.Action("Index", "Teacher")" title="Teachers" aria-label="Teachers">
                <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
            </a>
            <br />

            <hr style="width:10px;" />

        </div>
    </div>
</div>


@section Scripts {
    <script>

    </script>
}


