

<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">

        <div class="nav navbar-nav">
            <hr style="width:10px;" />
            <a class="btn btn-outline-info" href="@Url.Action("Index", "Home")" title="Home" aria-label="Home">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
            <hr style="width:10px;" />
            <a class="btn btn-outline-info" href="@Url.Action("Paintings", "Index")" title="Paintings" aria-label="Paintings">
                <i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i>
            </a>
            <hr style="width:10px;" />
            <a class="btn btn-outline-info" href="@Url.Action("Schools", "Index")" title="Schools" aria-label="Schools">
                <i class="fa fa-bank fa-2x" aria-hidden="true"></i>
            </a>
            <hr style="width:10px;" />
            <a class="btn btn-outline-info" href="@Url.Action("Students", "Index")" title="Students" aria-label="Students">
                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
            </a>
            <hr style="width:10px;" />
            <a class="btn btn-outline-info" href="@Url.Action("Teachers", "Index")" title="Teachers" aria-label="Teachers">
                <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
            </a>
            <hr style="width:10px;" />

        </div>
    </div>
</div>


@section Scripts {
    <script>

    </script>
}


