

<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">

        <div class="nav navbar-nav">

            <div title="Home" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "Home")" title="Home" aria-label="Home">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <br />

            <div title="Paintings" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "Painting")" title="Paintings" aria-label="Paintings">
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                </a>
            </div>
            <br />

            <div title="Schools" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "School")" title="Schools" aria-label="Schools">
                    <i class="fa fa-bank" aria-hidden="true"></i>
                </a>
            </div>
            <br />

            <div title="Students" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "Student")" title="Students" aria-label="Students">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </a>
            </div>
            <br />

            <div title="Teachers" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "Teacher")" title="Teachers" aria-label="Teachers">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </a>
            </div>
            <br />

            <div title="Class" class="dottedFrameAdmin text-center">
                <a href="@Url.Action("Index", "Classroom")" title="Class" aria-label="Class">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
            </div>
            <br />

        </div>
    </div>
</div>


@section Scripts {
    <script>

    </script>
}


