@model Web_DomainClasses.Entities.School.Student

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <br />
            <div class="row">

                <!-- Section - Student Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">

                    <div class="paintingcontainer">
                        <div class="studentdesc">
                            <h3>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
                            <hr />
                            <h4 style="color:white">@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</h4>
                        </div>
                        <br />
                    </div>
                </div>

                <!-- Section - Avatar ------------------------------------------>
                <div class="col-md-4 mx-auto">
                    <div class="wrap-studentAvatar">
                        <img src="~/images/Avatar/back_05.png" />
                    </div>
                </div>

                <!-- Section - Teacher/School --------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div lass="paintingcontainer">
                        <h3>@Html.DisplayFor(model => model.Classroom.Teacher.FirstName) @Html.DisplayFor(model => model.Classroom.Teacher.LastName)</h3>
                        <hr />
                        <h3>@Html.DisplayFor(model => model.Classroom.School.Name)</h3>
                        <h3>@Html.DisplayFor(model => model.Classroom.School.City)</h3>
                    </div>
                </div>


                <!-- Section - PAINTINGS ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                        @foreach (var item in Model.Paintings)
                        {
                            <div class="col-lg-4 col-sm-6 align-items-stretch">
                                <div class="paintingcontainer">
                                    <div class="wrap-Painting">
                                        <div class="painting">
                                            <img src="~/images/paintings/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                                        </div>
                                        <br />
                                        <div class="paintingdesc">
                                            <h4 class="text-center">@Html.DisplayFor(modelItem => item.PaintingTitle) </h4>
                                            <br />
                                            <hr />
                                            <h5 class="text-center">
                                                Suggested Donation: @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-eur" aria-hidden="true"></i>
                                            </h5>
                                            <a href="#"><img class="float-right" src="~/images/cart.png" /></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>


                <!-- Section - Links ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="paintingcontainer">
                        <hr />
                        <br />
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Index", "Student")"><img src="~/images/students.png" /> back to student </a>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "Student", new { id = Model.StudentId })"><img src="~/images/register.png" /> edit student </a>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>












@section scripts{
    <script>



    </script>


}





