@model Web_DomainClasses.Entities.School.Student

@{
    ViewBag.Title = "Edit";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <h2 class="text-center" style="color:#f3efe9;"> edit Student</h2>
            <hr />
            <br />
            <div class="row">

                <!-- Section - Avatar ------------------------------------------>
                <div class="col">
                    <div style="width:180px; height:180px; border:4px dotted #e5e2dd" class="wrap-studentAvatar Mama_Avatar">
                        @*AVATAR HERE ------------------------------------------------------>>*@
                        <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(model => model.Avatar.Background.ImageUrl)" />
                        <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(model => model.Avatar.Body.ImageUrl)" />
                        <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(model => model.Avatar.Clothing.ImageUrl)" />
                        <img class="Boi_Avatar" style="width:100%; height:100%;" src="~/images/Avatar/@Html.DisplayFor(model => model.Avatar.Hair.ImageUrl)" />
                    </div>
                </div>

                <!-- Section - Student Details ---------------------------------------->
                <div class="col-md-12 mx-auto">
                    <div class="wrap-Avatar" style="color:#f3efe9">
                        <div class="wrap-login100">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.StudentId)
                                @Html.HiddenFor(model => model.ClassroomFK)
                                @Html.HiddenFor(model => model.AvatarFK)



                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>

                                <div class="wrap-avabox rs1 text-center">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>

                                <div class="wrap-avabox rs2 text-center">
                                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                </div>

                                // SAVE BUTTON ----------------------------------------------------
                                <div class="container-login100-form-btn m-t-20">
                                    <input class="login100-form-btn" type="submit" value="Save" />
                                </div>

                                <section id="socialLoginForm" class="text-center">
                                    <br />
                                    <div>
                                        <a href="@Url.Action("Index", "Student")"><img id="iconBtn" src="~/images/UIcons/students_off.png" /> back to students </a>
                                    </div>
                                </section>

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //function called when drag starts
        function dragIt(theEvent) {
            //tell the browser what to drag
            theEvent.dataTransfer.setData("Text", theEvent.target.id);
        }

        //function called when element drops
        function dropIt(theEvent) {
            //get a reference to the element being dragged
            var theData = theEvent.dataTransfer.getData("Text");
            //get the element
            var theDraggedElement = document.getElementById(theData);
            //add it to the drop element
            theEvent.target.appendChild(theDraggedElement);
            //instruct the browser to allow the drop
            theEvent.preventDefault();
        }

        // AVATAR BUTTONS
        $("#BackgroundSelection").click(function (e) {
            $("#Background_Items").show(88);
            $("#Body_Items").hide(8);
            $("#Cloth_Items").hide(8);
            $("#Hair_Items").hide(8);
        });

        $("#BodySelection").click(function (e) {
            $("#Background_Items").hide(8);
            $("#Body_Items").show(88);
            $("#Cloth_Items").hide(8);
            $("#Hair_Items").hide(8);
        });

        $("#ClothSelection").click(function (e) {
            $("#Background_Items").hide(8);
            $("#Body_Items").hide(8);
            $("#Cloth_Items").show(88);
            $("#Hair_Items").hide(8);
        });

        $("#HairSelection").click(function (e) {
            $("#Background_Items").hide(8);
            $("#Body_Items").hide(8);
            $("#Cloth_Items").hide(8);
            $("#Hair_Items").show(88);
        });
    </script>


}