@model Web_Front.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <br />
            <br />
            <div class="row">

                <div class="col-md-8 mx-auto">
                    <div class="wrap-login100">
                        <span class="login100-form-title p-b-33">
                            @ViewBag.Title.
                        </span>
                        <hr />
                        <br />
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <h5 class="text-center">Create a new account.</h5>
                            
                            <div class="wrap-input100">
                                @Html.TextBoxFor(m => m.Nickname, new { @class = "input100", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
                            </div>

                            <div class="wrap-input100 rs1">
                                @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="wrap-input100 rs1">
                                @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="wrap-input100 rs2">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            // Custom Added------------------------------>>
                            <div class="wrap-input100 rs1">
                                @Html.TextBoxFor(m => m.Country, new { @class = "input100", placeholder = "Country" })
                                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                            </div>

                            <div class="wrap-input100 rs1">
                                @Html.TextBoxFor(m => m.City, new { @class = "input100", placeholder = "City" })
                                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                            </div>

                            <div class="wrap-input100 rs1">
                                @Html.TextBoxFor(m => m.Address, new { @class = "input100", placeholder = "Address" })
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>

                            // REGISTER BUTTON ----------------------------------------------------
                            <div class="container-login100-form-btn m-t-20">
                                <input class="login100-form-btn" type="submit" value="Register" />
                            </div>

                        }
                    </div>
                </div>

                <div class="col-md-3 mx-auto">
                    <div class="sideImage" id="p_container">
                        <img style="bottom:0px" class="stackImages p_child" id="slideone" src="~/images/parallax/Portrait_figure.png">
                        <img style="bottom:0px" class="stackImages P_child" id="slidetwo" src="~/images/parallax/Portrait_boi2.png">
                    </div>

                    <div class="dottedFrameForLinks">

                        <!-- Section - Links ---------------------------------------->
                        <div class="container col-12">
                            <h5 class="text-center">Visit External Sites</h5>
                            <hr />
                            <div class="row">
                                <div class="btn_contain1 col">
                                    <div class="btn_child_norm1">
                                        <a href="http://www.google.com"><img src="~/images/UIcons/google_off.png" /></a>
                                    </div>
                                    <div class="btn_child_live1">
                                        <a style="color:#f3efe9" href="http://www.google.com"><img src="~/images/UIcons/google.png" /> go to Google </a>
                                    </div>
                                </div>

                                <div class="btn_contain2 col">
                                    <div class="btn_child_norm2">
                                        <a href="http://www.facebook.com"><img src="~/images/UIcons/facebook_off.png" /></a>
                                    </div>
                                    <div class="btn_child_live2">
                                        <a style="color:#f3efe9" href="http://www.facebook.com"><img src="~/images/UIcons/facebook.png" /> go to Facebook </a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>


            </div>
        </div>

        
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")







}
