@model Web_DomainClasses.Entities.School.School

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <h2 class="text-center" style="color:#f3efe9;"> School in Detail</h2>
            <hr />
            <br />
            <div class="row">
                <!-- Section - School Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="paintingcontainer">
                        <div class="Schooldesc">
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <hr />

                            <h4>
                                <ul class="text-center">
                                    <li>City: @Html.DisplayFor(model => model.City)</li>
                                    <li>Address: @Html.DisplayFor(model => model.Adress)</li>
                                    <li>Tel: @Html.DisplayFor(model => model.Tel)</li>
                                </ul>
                            </h4>
                        </div>

                        <br />
                        <br />
                        <hr />

                        <div dark_back_C>
                            <a style="color:#f3efe9" href="@Url.Action("Index", "School")"><img src="~/images/schoolspng.png" /> back to schools </a>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "School", new { id = Model.SchoolId })"><img src="~/images/menu.png" /> edit school </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

