@model Web_DomainClasses.Entities.School.School

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            @*PARALLAXING SCHOOL IMAGES*@
            <div class="oz-body-wrap2">
                <div class="container-fluid">
                    <div class="cd-background-wrapper">
                        <figure class="cd-floating-background">
                            <h1 class="text-center">@Html.DisplayFor(modelItem => Model.Name)</h1>
                            <img style="top:60px" class="stackImages p_child" src="~/images/parallax/School_Parallax_back_01.png">
                            <img style="top:40px" class="stackImages P_child" src="~/images/parallax/School_Parallax_mount_02.png">
                            <img style="top:20px" class="stackImages p_child" src="~/images/parallax/School_Parallax_mount_01.png">
                            <img style="top:80px" class="stackImages p_child" src="~/images/parallax/School_Parallax_school.png">
                        </figure>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <!-- Section - School Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">

                    <div class="paintingcontainer">
                        <div class="studentdesc">
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <hr style="border-bottom:2px dotted" />
                            <h4>@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)</h4>
                            <h4>@Html.DisplayNameFor(model => model.Adress): @Html.DisplayFor(model => model.Adress)</h4>
                            <h4>@Html.DisplayNameFor(model => model.Tel): @Html.DisplayFor(model => model.Tel)</h4>
                        </div>
                    </div>
                </div>

                <!-- Section - Google Map Maybe --------------------------------------->
                <div class="col-md-12 mx-auto text-center">

                </div>


                <!-- Section - CLASSROOMS ---------------------------------------->
                <div class="container">
                    <div class="row">

                        @foreach (var item in Model.Classroom)
                        {
                            <div class="col-lg-4 col-sm-6 align-items-stretch">
                                <div class="paintingcontainer">
                                    <div class="dottedFramenoH text-center">

                                        @*LINK TO CLASSROOM MAIN PAGE*@
                                        <a style="color:#f3efe9; font-size:24px;" href="@Url.Action("Details", "Classroom", new { id = item.ClassroomId })"> @Html.DisplayFor(modelItem => item.Name) </a>
                                        <hr />
                                        <p class="text-center">
                                            <i class="fa fa-file-text" aria-hidden="true"></i>Description: @Html.DisplayFor(modelItem => item.Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- Section - Links ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="paintingcontainer">
                        <hr />
                        <br />
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Classroom", new { id = Model.SchoolId })"><img src="~/images/schoolspng.png" /> back to class </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Student", new { id = Model.SchoolId })"><img src="~/images/loged.png" /> back to student </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


