@model Web_DomainClasses.Entities.School.School

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <div class="row">
                <!-- Section - School Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="sideFrameD">
                        <div style="padding:10px;" class="studentdesc">
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <hr style="border-bottom:2px dotted; margin:0px;" />
                            <h5>@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)</h5>
                            <h5>@Html.DisplayNameFor(model => model.Adress): @Html.DisplayFor(model => model.Adress)</h5>
                            <h5>@Html.DisplayNameFor(model => model.Tel): @Html.DisplayFor(model => model.Tel)</h5>
                        </div>
                    </div>
                </div>
                <!-- Section - CLASSROOMS ---------------------------------------->
                <div class="container">
                    <div class="row">

                        @foreach (var item in Model.Classrooms)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch">
                                <div class="dottedFrameDark2 isThisLink">
                                    <br />
                                    <a href="@Url.Action("Details", "Classroom", new { id = item.ClassroomId })">
                                        <div class="Schooldesc">
                                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                            <hr />
                                            <ul class="text-right paintingInfo">
                                                <li>City: @Html.DisplayFor(modelItem => item.Description)</li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- Section - Links ---------------------------------------->
                <div style="height:180px;" class="container col-12 align-self-center">
                    <hr />
                    <br />
                    <div class="row">
                        <div class="btn_contain3 col">
                            <div class="btn_child_norm3">
                                <a title="back to schools" href="@Url.Action("Index", "School")"><img src="~/images/UIcons/schools_off.png" /></a>
                            </div>
                            <div class="btn_child_live3">
                                <a title="back to schools" href="@Url.Action("Index", "School")"><img src="~/images/UIcons/schoolspng.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


