@model IEnumerable<Web_DomainClasses.Entities.School.School>
@{
    ViewBag.Title = "Index";
}


<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg text-center">
        <div style="margin:20px;">
            <h3>Participating Schools</h3>
            <hr />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- SECTION Schools ------------------------------------- -->
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div style="margin-top:-50px;" class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div style="margin-bottom:25px;" class="dottedFrameDark2 isThisLink">
                                <br />
                                <a href="@Url.Action("Details", "School", new { id = item.SchoolId })">
                                    <div class="Schooldesc">
                                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                        <hr />
                                        <ul class="text-right paintingInfo">
                                            <li>City: @Html.DisplayFor(modelItem => item.City)</li>
                                            <li>Address: @Html.DisplayFor(modelItem => item.Adress)</li>
                                            <li>Tel: @Html.DisplayFor(modelItem => item.Tel)</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                                <!-- Section - Links ---------------------------------------->
                                <div style="height:180px;" class="container col-12">
                                    <div class="row">
                                        <div class="btn_contain1 col">
                                            <div class="btn_child_norm1">
                                                <a title="edit" href="@Url.Action("Edit", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/edit_off.png" /></a>
                                            </div>
                                            <div class="btn_child_live1">
                                                <a title="edit" href="@Url.Action("Edit", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/edit.png" /></a>
                                            </div>
                                        </div>

                                        <div class="btn_contain2 col">
                                            <div class="btn_child_norm2">
                                                <a title="details" href="@Url.Action("Details", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/details_off.png" /></a>
                                            </div>
                                            <div class="btn_child_live2">
                                                <a title="details" href="@Url.Action("Details", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/details.png" /></a>
                                            </div>
                                        </div>

                                        <div class="btn_contain3 col">
                                            <div class="btn_child_norm3">
                                                <a title="delete" href="@Url.Action("Delete", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/delete_off.png" /></a>
                                            </div>
                                            <div class="btn_child_live3">
                                                <a title="delete" href="@Url.Action("Delete", "School", new { id = item.SchoolId })"><img src="~/images/UIcons/delete.png" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>

            <!-- SECTION Google Maps ------------------------------------- -->
            <div class="col-12">
                @using (Html.BeginForm())
                {
                    <div class="GoogleFrame">
                        <!-- Google Maps Api------------------------------ -->
                        <div id="gmap2" style="width:100%; height:100vh;"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>







@*                             GMAPS API                                        *@

<script type="text/javascript">


    function initMap() {

        //set Map properties to a var
        var MapProperties = {
            center: { lat: 37.983810, lng: 23.727539 },
            zoom: 7,
            styles: [
                {
                    elementType: "geometry",
                    stylers: [{ "color": "#ebe3cd" }]
                },
                {
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#523735" }]
                },
                {
                    elementType: "labels.text.stroke",
                    stylers: [{ "color": "#f5f1e6" }]
                },
                {
                    featureType: "administrative",
                    elementType: "geometry.stroke",
                    stylers: [{ "color": "#c9b2a6" }]
                },
                {
                    featureType: "administrative.land_parcel",
                    elementType: "geometry.stroke",
                    stylers: [{ "color": "#dcd2be" }]
                },
                {
                    featureType: "administrative.land_parcel",
                    elementType: "labels",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "administrative.land_parcel",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#ae9e90" }]
                },
                {
                    featureType: "landscape.natural",
                    elementType: "geometry",
                    stylers: [{ "color": "#dfd2ae" }]
                },
                {
                    featureType: "poi",
                    elementType: "geometry",
                    stylers: [{ "color": "#dfd2ae" }]
                },
                {
                    featureType: "poi",
                    elementType: "labels.text",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "poi",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#93817c" }]
                },
                {
                    featureType: "poi.business",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "poi.park",
                    elementType: "geometry.fill",
                    stylers: [{ "color": "#a5b076" }]
                },
                {
                    featureType: "poi.park",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#447530" }]
                },
                {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [{ "color": "#f5f1e6" }]
                },
                {
                    featureType: "road",
                    elementType: "labels.icon",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "road.arterial",
                    elementType: "geometry",
                    stylers: [{ "color": "#fdfcf8" }]
                },
                {
                    featureType: "road.arterial",
                    elementType: "labels",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry",
                    stylers: [{ "color": "#f8c967" }]
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.stroke",
                    stylers: [{ "color": "#e9bc62" }]
                },
                {
                    featureType: "road.highway",
                    elementType: "labels",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "road.highway.controlled_access",
                    elementType: "geometry",
                    stylers: [{ "color": "#e98d58" }]
                },
                {
                    featureType: "road.highway.controlled_access",
                    elementType: "geometry.stroke",
                    stylers: [{ "color": "#db8555" }]
                },
                {
                    featureType: "road.local",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "road.local",
                    elementType: "labels",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "road.local",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#806b63" }]
                },
                {
                    featureType: "transit",
                    stylers: [{ "visibility": "off" }]
                },
                {
                    featureType: "transit.line",
                    elementType: "geometry",
                    stylers: [{ "color": "#dfd2ae" }]
                },
                {
                    featureType: "transit.line",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#8f7d77" }]
                },
                {
                    featureType: "transit.line",
                    elementType: "labels.text.stroke",
                    stylers: [{ "color": "#ebe3cd" }]
                },
                {
                    featureType: "transit.station",
                    elementType: "geometry",
                    stylers: [{ "color": "#dfd2ae" }]
                },
                {
                    featureType: "water",
                    elementType: "geometry.fill",
                    stylers: [{ "color": "#b9d3c2" }]
                },
                {
                    featureType: "water",
                    elementType: "labels.text.fill",
                    stylers: [{ "color": "#92998d" }]
                }
            ]
        }



        var map = new google.maps.Map(document.getElementById('gmap2'), MapProperties);



        //AJAX to Controller To Get a List Of Place_id
        $.getJSON('@(Url.Action("GetPlace_ids"))', null, function (data) {

            //Service to translate place_id to
            var service = new google.maps.places.PlacesService(map);

            for (var i = 0; i < data.Place_IDs.length; i++) {

                var placeid = data.Place_IDs[i];
                var title = data.Titles[i];

                    service.getDetails({ placeId: placeid }, function (result, status)
                    {
                        var marker = new google.maps.Marker({ map: map,place: {placeId: placeid,  location: result.geometry.location  } });

                        //To Show Description On Pin Click
                      //   var infowindow = new google.maps.InfoWindow();
                      //   google.maps.event.addListener(marker, 'click', (function(marker, i) {
                      //          return function() {
                      //                 infowindow.setContent(title);
                      //                 infowindow.open(map, marker);
                      //          }
                      //})(marker, i));
                    });
            }
        });
    };
</script>


<script src="@System.Configuration.ConfigurationManager.AppSettings["GMapsUrl"].ToString()" async defer></script>
@*Get Link from Web.config*@
