@model IEnumerable<Web_DomainClasses.Entities.School.School>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 pt-20 pb-20">
    <h1>
        @*<img style="height:100px; width:100%" src="~/images/banner.jpg" alt="Alternate Text" />*@
        Schools Participating
    </h1>
</div>
<hr />
<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">

                @*@if (User.IsInRole("admin"))
                {*@
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    @Html.ActionLink("Create New", "Create")
                @*  *@}

            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>
</div>
<hr />

@* Test & epidixi oti to model exei TA PANTA *@

@*@foreach (var school in Model)
{
    @school.Name
    foreach (var classroom in school.Classroom)
    {

        @classroom.Name
        @classroom.Teacher.FirstName
        foreach (var student in classroom.Students)
        {
            @student.FirstName
            foreach (var painting in student.Paintings)
            {
                @painting.Price
            }
        }

    }
}*@

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-12 col-sm-12 align-items-stretch">
                    <div class="paintingcontainer">
                        <div class="painting">
                            <img src="~/images/schools/@Html.DisplayFor(modelItem => item.Image)" />
                        </div>
                        <div class="paintingdesc">
                            <h2>@Html.DisplayFor(modelItem => item.Name) </h2>
                            <hr />
                            <p>@Html.DisplayFor(modelItem => item.City)</p>
                            <ul class="text-right">
                                <li>Address: @Html.DisplayFor(modelItem => item.Adress)</li>
                                <li>Tel: @Html.DisplayFor(modelItem => item.Tel)</li>
                            </ul>
                        </div>

                        @*@if (User.IsInRole("admin"))
                        {*@
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SchoolId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SchoolId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SchoolId })
                            </div>
                        @*}*@

                    </div>
                </div>
            }
        </div>
    </div>
</section>






