@model IEnumerable<Web_DomainClasses.Entities.School.School>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 pt-20 pb-20">
    <h1 style="color:#f3efe9;">Schools Participating</h1>
</div>
<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                @Html.ActionLink("Create New", "Create")
            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 align-items-stretch">

                    @*PARALLAXING SCHOOL IMAGES*@
                    <div class="oz-body-wrap2">
                        <div class="container-fluid">
                            <div class="cd-background-wrapper">
                                <figure class="cd-floating-background">
                                    <h1 class="text-center">@Html.DisplayFor(modelItem => item.Name)</h1>
                                    <img style="top:60px" class="stackImages p_child" src="~/images/parallax/School_Parallax_back_01.png">
                                    <img style="top:40px" class="stackImages P_child" src="~/images/parallax/School_Parallax_mount_02.png">
                                    <img style="top:20px" class="stackImages p_child" src="~/images/parallax/School_Parallax_mount_01.png">
                                    <img style="top:80px" class="stackImages p_child" src="~/images/parallax/School_Parallax_school.png">
                                </figure>
                            </div>
                        </div>
                    </div>


                    <div class="paintingcontainer">
                        <div class="wrap-School">
                            <div class="painting text-center">
                                @*IMAGE*@
                                @*<img class="schoolBanner" src="~/images/schools/@Html.DisplayFor(modelItem => item.Image)" />*@

                            </div>
                            <br />
                            <div class="Schooldesc">
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                <hr />

                                <ul class="text-right">
                                    <li>City: @Html.DisplayFor(modelItem => item.City)</li>
                                    <li>Address: @Html.DisplayFor(modelItem => item.Adress)</li>
                                    <li>Tel: @Html.DisplayFor(modelItem => item.Tel)</li>
                                </ul>


                            </div>
                        </div>
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "School", new { id = item.SchoolId })"><img id="iconBtn" src="~/images/UIcons/edit_off.png" /> edit </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "School", new { id = item.SchoolId })"><img id="iconBtn" src="~/images/UIcons/details_off.png" /> details </a>
                            <a style="color:#f3efe9" href="@Url.Action("Delete", "School", new { id = item.SchoolId })"><img id="iconBtn" src="~/images/UIcons/delete_off.png"/> delete </a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>






