@model Web_DomainClasses.Entities.School.Teacher

@{
    ViewBag.Title = "Details";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <h2 class="text-center" style="color:#f3efe9;"> Teacher in Detail</h2>
            <hr />
            <br />
            <div class="row">
                <!-- Section - School Details ---------------------------------------->
                <div class="col-md-12 mx-auto text-center">
                    <div class="paintingcontainer">
                        <div class="Schooldesc">
                            <h3>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
                            <hr />

                            <h4>
                                @*@Html.DisplayNameFor(model => model.Classroom): @Html.DisplayFor(model => model.Classroom)*@
                            </h4>
                        </div>

                        <br />
                        <br />
                        <hr />

                        <div dark_back_C>
                            <a style="color:#f3efe9" href="@Url.Action("Index", "Teacher")"><img id="iconBtn" src="~/images/UIcons/students_off.png" /> teachers </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Classroom", new { id = Model.TeacherId })"><img id="iconBtn" src="~/images/UIcons/schools_off.png" /> class </a>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "Teacher", new { id = Model.TeacherId })"><img id="iconBtn" src="~/images/UIcons/edit_off.png" /> edit teacher </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

