@model Web_DomainClasses.Entities.School.Teacher

@{
    ViewBag.Title = "Edit";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <h2 class="text-center" style="color:#f3efe9;"> edit Teacher</h2>
            <hr />
            <br />
            <div class="row">

                <!-- Section - School Details ---------------------------------------->
                <div class="col-md-8 mx-auto">
                    <div class="wrap-Avatar" style="color:#f3efe9">
                        <div class="wrap-login100">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TeacherId)

                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">First Name</p>
                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">Last Name</p>
                                @*<div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.Classroom, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.Classroom, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">Classroom</p>*@



                                // SAVE BUTTON ----------------------------------------------------
                                <div class="container-login100-form-btn m-t-20">
                                    <input class="login100-form-btn" type="submit" value="Save" />
                                </div>

                            }
                        </div>
                    </div>

                </div>

                <!-- Section - Student Details ---------------------------------------->
                <div class="col-md-12 mx-auto">

                    <section id="socialLoginForm" class="text-center">
                        <br />
                        <hr />
                        <div id="dark_back_C">
                            <a href="@Url.Action("Index", "Teacher")"><img id="iconBtn" src="~/images/UIcons/students_off.png" /> back to teachers </a>
                        </div>
                    </section>


                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
