@model IEnumerable<Web_DomainClasses.Entities.School.Teacher>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12 pt-20 pb-20">
    <h1 style="color:#f3efe9;">Teachers</h1>
</div>
<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                @Html.ActionLink("Create New", "Create")
            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-12 align-items-stretch">
                    <div class="paintingcontainer">
                        <div class="wrap-School">
                            <br />
                            <div class="Schooldesc">
                                <h3>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h3>
                                <hr />
                                <ul class="text-right">
                                    <li> Oti allo Info exei o mpagasas</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "Teacher", new { id = item.TeacherId })"><img id="iconBtn" src="~/images/UIcons/edit_off.png" /> edit </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Teacher", new { id = item.TeacherId })"><img id="iconBtn" src="~/images/UIcons/details_off.png" /> details </a>
                            <a style="color:#f3efe9" href="@Url.Action("Delete", "Teacher", new { id = item.TeacherId })"><img id="iconBtn" src="~/images/UIcons/delete_off.png" /> delete </a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>




