@*@model IEnumerable<Web_DomainClasses.Entities.School.Painting>*@
@model PagedList.IPagedList<Web_DomainClasses.Entities.School.Painting>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <!-- Create New ------------------------------------------>
            <div class="col-3">
                @if (User.IsInRole("Admin"))
                {
                    <div class="row">
                        <div class="col-3">
                            <img style="margin-top:-12px;" src="~/images/UIcons/paintings.png" />
                        </div>
                        <div class="col-9">
                            <h4>@Html.ActionLink("Create New", "Create", null, new { @class = "h4" })</h4>
                        </div>
                    </div>

                }
            </div>
            <!-- Sort ------------------------------------------>
            <div class="col-3 SortByBox text-center">
                Sort By: @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "h6" }) 
            </div>
            <!-- Filter ------------------------------------------>
            <div class="col-5">
                @using (Html.BeginForm("Index", "Painting", FormMethod.Get))
                {
                    <div class="row mx-auto">
                        <div class="col-6 mx-0 wrap-avabox text-center">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "inputchat", placeholder = "Filter" })
                        </div>
                        <div class="col-4 mx-0 container-login100-form-btn">
                            <input type="submit" value="Search" class="login10-form-btn" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-1">
                <img style="margin-top:-20px; width:80px;" src="~/images/filter.png" />
            </div>

            <hr />

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 align-items-stretch">
                    <div class="paintingcontainer">
                        <div style="height:500px; min-height:450px;" class="dottedFrame">
                            <div class="painting">
                                <img src="~/images/paintings/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                            </div>
                            <br />
                            <div class="paintingdesc">
                                <div class="paintingInfo">
                                    <h4>@Html.DisplayFor(modelItem => item.PaintingTitle) </h4>
                                    <a href="@Url.Action("Details", "Student", new { id = item.PaintingId })">by @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName) </a>
                                    <hr />
                                    <h5 class="text-right">
                                        Donation:  <span style="font-size:24px; font-weight:800;" class="fa"> @Html.DisplayFor(modelItem => item.Price)</span><i class="fa fa-eur" aria-hidden="true"></i>
                                    </h5>
                                </div>

                            </div>
                        </div>

                        <!-- Section - Links ---------------------------------------->
                        <div style="height:180px;" class="container col-12">
                            <hr />
                            <br />
                            <div class="row">
                                <div class="btn_contain1 col">
                                    <div class="btn_child_norm1">
                                        <a title="edit" href="@Url.Action("Edit", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/edit_off.png" /></a>
                                    </div>
                                    <div class="btn_child_live1">
                                        <a title="edit" href="@Url.Action("Edit", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/edit.png" /></a>
                                    </div>
                                </div>
                                <div class="btn_contain2 col">
                                    <div class="btn_child_norm2">
                                        <a title="details" href="@Url.Action("Details", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/details_off.png" /></a>
                                    </div>
                                    <div class="btn_child_live2">
                                        <a title="details" href="@Url.Action("Details", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/details.png" /></a>
                                    </div>
                                </div>
                                <div class="btn_contain3 col">
                                    <div class="btn_child_norm3">
                                        <a title="delete" vhref="@Url.Action("Delete", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/delete_off.png" /></a>
                                    </div>
                                    <div class="btn_child_live3">
                                        <a title="delete" href="@Url.Action("Delete", "Painting", new { id = item.PaintingId })"><img src="~/images/UIcons/delete.png" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


    </div>
</section>