@model Web_DomainClasses.Entities.School.Painting

@{
    ViewBag.Title = "Create";
}


<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="wrap-login100">

                        <span class="login100-form-title p-b-33">
                            Create New Painting
                        </span>
                        <br />
                        <br />

                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="wrap-input100">
                                @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "input100", placeholder = "Image" } })
                                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })

                                <span class="focus-input100-1"></span>
                                <span class="focus-input100-2"></span>
                            </div>

                            <div class="wrap-input100">
                                @Html.EditorFor(model => model.PaintingTitle, new { htmlAttributes = new { @class = "input100", placeholder = "PaintingTitle" } })
                                @Html.ValidationMessageFor(model => model.PaintingTitle, "", new { @class = "text-danger" })

                                <span class="focus-input100-1"></span>
                                <span class="focus-input100-2"></span>
                            </div>

                            <div class="wrap-input100">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input100", placeholder = "Price" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

                                <span class="focus-input100-1"></span>
                                <span class="focus-input100-2"></span>
                            </div>


                            <div class="container-login100-form-btn m-t-20">
                                <input class="login100-form-btn" type="submit" value="Create" />
                            </div>

                        }


                    </div>
                </div>

                <div class="col-md-4 mx-auto">
                    <div class="sideImage" id="p_container">
                        <img style="right:20px; bottom:200px; border:4px solid #bababa; width:80%; box-shadow:1px 1px 20px 10px rgba(0,0,0,0.1);" class="stackImages P_child" id="slidetwo" src="~/images/white-paper-texture.jpg">
                        <img style="left:10px; bottom:20px; width:100px" class="stackImages p_child" id="slideone" src="~/images/kid_brush.png">
                    </div>
                </div>


            </div>
        </div>


        <!-- Section - Links ---------------------------------------->
        <div class="col-md-12 mx-auto">
            <div class="paintingcontainer">
                <hr />
                <br />
                <div class="row">
                        <div class="btn_contain1 col">
                            <div class="btn_child_norm1">
                                <a href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings_off.png" /></a>
                            </div>
                            <div class="btn_child_live1">
                                <a style="color:#f3efe9" href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings.png" /> paintings </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



