@model Web_DomainClasses.Entities.School.Painting

@{
    ViewBag.Title = "Details";
}

    <div class="limiter">
        <div class="container-login100">
            <div class="container">
                <br />
                <br />
                <div class="row">

                    <!-- Section - Paintings ------------------------------------------>
                    <div class="col-md-6 mx-auto text-center">
                        <div class="wrap-Avatar">
                            <div class="avatar_main" id="place1" ondrop="dropIt(event);" ondragover="event.preventDefault();">
                                <div><img class="avatar_child" src="~/images/paintings/@Html.DisplayFor(model => model.ImageUrl)" /></div>
                            </div>
                        </div>
                    </div>

                    <!-- Section - Student Details ---------------------------------------->
                    <div class="col-md-12 mx-auto text-center">
                        <div class="paintingcontainer">
                            <div class="studentdesc">
                                <h3>@Html.DisplayFor(model => model.PaintingTitle)</h3>
                                <hr />
                                <h4 style="color:white">@Html.DisplayNameFor(model => model.Price):@Html.DisplayFor(model => model.Price)</h4>
                            </div>
                        </div>
                        <hr />
                        <br />
                    </div>

                    <!-- Section - Links ---------------------------------------->
                    <div style="height:180px;" class="container col-6">
                      
                        <div class="row">
                            <div class="btn_contain1 col">
                                <div class="btn_child_norm1">
                                    <a href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings_off.png" /></a>
                                </div>
                                <div class="btn_child_live1">
                                    <a style="color:#f3efe9" href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings.png" /> paintings </a>
                                </div>
                            </div>

                            <div class="btn_contain2 col">
                                <div class="btn_child_norm2">
                                    <a href="@Url.Action("Edit", "Painting", new { id = Model.PaintingId })"><img src="~/images/UIcons/paintings_off.png" /></a>
                                </div>
                                <div class="btn_child_live2">
                                    <a style="color:#f3efe9" href="@Url.Action("Edit", "Painting", new { id = Model.PaintingId })"><img src="~/images/UIcons/paintings.png" /> edit painting </a>
                                </div>
                            </div>

                            
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>


