@model Web_DomainClasses.Entities.School.Painting

@{
    ViewBag.Title = "Edit";
}

<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <br />
            <h2 class="text-center" style="color:#f3efe9;"> edit Painting</h2>
            <hr />
            <br />
            <div class="row">
                <!-- Section - Paintings ------------------------------------------>
                <div class="col-md-6 mx-auto text-center">
                    <div class="wrap-Avatar">
                        <div class="avatar_main" id="place1" ondrop="dropIt(event);" ondragover="event.preventDefault();">
                            <div><img class="avatar_child" src="~/images/paintings/@Html.DisplayFor(model => model.ImageUrl)" /></div>
                        </div>
                        <img id="iconBtn" class="float-right" src="~/images/UIcons/logoff.png" />
                    </div>
                </div>

                <!-- Section - Student Details ---------------------------------------->
                <div class="col-md-6 mx-auto">
                    <div class="wrap-Avatar" style="color:#f3efe9">
                        <div class="wrap-login100">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.PaintingId)

                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">Image File</p>
                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.PaintingTitle, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.PaintingTitle, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">Title</p>
                                <div class="wrap-avabox text-center">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                                <p style="color:#909090">Price</p>

                                // SAVE BUTTON ----------------------------------------------------
                                <div class="container-login100-form-btn m-t-20">
                                    <input class="login100-form-btn" type="submit" value="Save" />
                                </div>

                            }
                        </div>
                    </div>
                </div>

                <!-- Section - Links ---------------------------------------->
                <div style="height:180px;" class="container col-12">
                    <hr />
                    <br />
                    <div class="btn_child_norm1">
                        <a href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings_off.png" /></a>
                    </div>
                    <div class="btn_child_live1">
                        <a style="color:#f3efe9" href="@Url.Action("Index", "Painting")"><img src="~/images/UIcons/paintings.png" /> paintings </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}