@model IEnumerable<Web_DomainClasses.Entities.School.Painting>

@{
    ViewBag.Title = "Index";
}


<!-- SECOND BANNER ----------------------------------------------------- -->
@Html.Partial("_SecondBanner")



<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">

                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                @Html.ActionLink("Create New", "Create")

                @*@if (User.IsInRole("admin"))
                    {
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        @Html.ActionLink("Create New", "Create")
                    }*@

            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>

</div>

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 align-items-stretch">
                    <div class="paintingcontainer">
                        <div class="wrap-Painting">
                            <div class="painting">
                                <img src="~/images/paintings/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                            </div>
                            <br />
                            <div class="paintingdesc">
                                <h4 class="text-center">@Html.DisplayFor(modelItem => item.PaintingTitle) </h4>
                                <br />

                                @*LINK TO STUDENT MAIN PAGE*@
                                <a href="@Url.Action("Details", "Student", new { id = item.PaintingId })">by @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName) </a>
                                <hr />

                                <h5 class="text-right">
                                    Suggested Donation: @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-eur" aria-hidden="true"></i>
                                </h5>
                                <a href="@Url.Action("AddToCart", "Paypal", new { PaintingID = item.PaintingId })"><img class="float-right" src="~/images/cart.png" /></a>

                            </div>
                        </div>
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "Painting", new { id = item.PaintingId })"><img src="~/images/edit.png" /> edit </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Painting", new { id = item.PaintingId })"><img src="~/images/details.png" /> details </a>
                            <a style="color:#f3efe9" href="@Url.Action("Delete", "Painting", new { id = item.PaintingId })"><img src="~/images/delete.png" /> delete </a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>