@model IEnumerable<Web_DomainClasses.Entities.School.Painting>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 text-center pt-20 pb-20">
    <h1>
        <img style="height:100px; width:100%" src="~/images/banner.jpg" alt="Alternate Text" />
        Paintings
    </h1>
</div>
<hr />
<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                @Html.ActionLink("Create New", "Create")
            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>

</div>
<hr />

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaintingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    </table>*@

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 align-items-stretch">
                    <div class="single-feature">
                        <div class="painting">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                        </div>
                        <div class="desc">
                            <h2 class="text-uppercase">@Html.DisplayFor(modelItem => item.PaintingTitle) <br> By Yio Cho</h2>
                            <p>
                                @Html.DisplayFor(modelItem => item.Price)
                            </p>
                        </div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PaintingId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PaintingId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PaintingId })
                    </div>
                </div>
            }
        </div>
    </div>
</section>