@model IEnumerable<Web_DomainClasses.Entities.School.Painting>

@{
    ViewBag.Title = "Index";
}


<!-- SECOND BANNER ----------------------------------------------------- -->
@Html.Partial("_SecondBanner")



<div class="feature-area pt-10 pb-10  relative">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6">

                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                @Html.ActionLink("Create New", "Create")

                @*@if (User.IsInRole("admin"))
                    {
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        @Html.ActionLink("Create New", "Create")
                    }*@

            </h2>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Find by Name: @Html.TextBox("SearchString")
                        <input class="btn btn-large" type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>
    </div>

</div>

<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 align-items-stretch">
                    <div class="paintingcontainer">
                        <div class="wrap-Painting">
                            <div class="painting">
                                <img src="~/images/paintings/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                            </div>
                            <br />
                            <div id="colorChanging" class="paintingdesc">
                                <h4 class="text-center">@Html.DisplayFor(modelItem => item.PaintingTitle) </h4>
                                <br />

                                @*LINK TO STUDENT MAIN PAGE*@
                                <a href="@Url.Action("Details", "Student", new { id = item.PaintingId })">by @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName) </a>
                                <hr />

                                <h5 class="text-right">
                                    Suggested Donation: @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-eur" aria-hidden="true"></i>
                                </h5>

                                <a href="@Url.Action("AddToCart", "Paypal", new { PaintingID = item.PaintingId })"><img id="iconBtn" class="float-right" src="~/images/UIcons/cart_off.png" /></a>

                            </div>
                        </div>
                        <div>
                            <a style="color:#f3efe9" href="@Url.Action("Edit", "Painting", new { id = item.PaintingId })">
                                <img id="iconBtn_edit" data-alt-src="~images/UIcons/edit.png" src="~/images/UIcons/edit_off.png" /> edit
                            </a>
                            <a style="color:#f3efe9" href="@Url.Action("Details", "Painting", new { id = item.PaintingId })">
                                <img id="iconBtn_details" src="~/images/UIcons/details_off.png" /> details
                            </a>
                            <a style="color:#f3efe9" href="@Url.Action("Delete", "Painting", new { id = item.PaintingId })">
                                <img id="iconBtn_delete" src="~/images/UIcons/delete_off.png" /> delete
                            </a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section scripts{

    <script>

        // TO change The icons on edit-details-delete ----------------->> (not working)
        //// Declare Arrays
        //imgList = new Array();
        //imgList["iconBtn_edit"] = new Array();
        //imgList["iconBtn_details"] = new Array();
        //imgList["iconBtn_delete"] = new Array();

        ////Set values for each mouse state
        //imgList["iconBtn_edit"]["out"] = "~/images/UIcons/edit_off.png";
        //imgList["iconBtn_edit"]["over"] = "~/images/UIcons/edit.png";
        //imgList["iconBtn_details"]["out"] = "~/images/UIcons/details_off.png";
        //imgList["iconBtn_details"]["over"] = "~/images/UIcons/details.png";
        //imgList["iconBtn_delete"]["out"] = "~/images/UIcons/delete_off.png";
        //imgList["iconBtn_delete"]["over"] = "~/images/UIcons/delete.png";


        ////Add the swapping functions
        //$("img").mouseover(function () {
        //    $(this).attr("src", imgList[$(this).attr("id")]["over"]);
        //})

        //$("img").mouseout(function () {
        //    $(this).attr("src", imgList[$(this).attr("id")]["out"]);
        //})

        //-----------------------------------------------------------------------------
        // TO change The icons on edit-details-delete ----------------->> (not working)


        //$("a img #iconBtn_edit").mouseover(function () {
        //    alert("oooooooooooook");
        //    $("#iconBtn_edit").attr("src", "~/images/UIcons/edit.png");

        //});
        //$("a img #iconBtn_edit").mouseout(function () {

        //    $("#iconBtn_edit").attr("src", "~/images/UIcons/edit.png");

        //});



        //-----------------------------------------------------------------------------
        // TO change The icons on edit-details-delete ----------------->>
        var sourceSwap = function () {
            var $this = $(this);
            var newSource = $this.data('alt-src');
            $this.data('alt-src', $this.attr('src'));
            $this.attr('src', newSource);
        }

        $(function () {
            $('img[data-alt-src]').each(function () {
                new Image().src = $(this).data('alt-src');
            }).hover(sourceSwap, sourceSwap);
        });




    </script>


}
