@{
    ViewBag.Title = "ManageUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <h3 class="text-center" style="color:#f3efe9;"> Admin Role Managment</h3>
            <hr />
            <br />
            <div class="row">
                <!-- Section - Roles A ---------------------------------------->
                <div class="col-md-6 mx-auto">
                    <div class="wrap-AvatarnoH" style="color:#f3efe9">
                        <div class="wrap-login100noH">

                            @foreach (var role in ViewBag.Roles)
                            {
                                <div class="dottedFrameDark">
                                    <h4 style="color:#4a4a4a;">@role.Text </h4>
                                    <div class="text-right">
                                        <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Text" class="delLink" style="color:red;">Delete</a></span> |
                                        @Html.ActionLink("Edit", "Edit", new { roleName = @role.Text })
                                    </div>
                                </div>
                            }
                            <br />
                            @using (Html.BeginForm("Create", "Roles", new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <h4 style="color:#4a4a4a;">Create New Role</h4>
                                <hr style="border-bottom:2px dotted #4a4a4a;" />
                                <div class="row mx-auto">
                                    <div class="col mx-0 wrap-avabox text-center">
                                        @Html.TextBox("RoleName", null, new { @class = "input100", placeholder = "Role Name" })
                                    </div>
                                    <div class="col mx-0 container-login100-form-btn">
                                        <input type="submit" value="Save" class="login100-form-btn" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Section - Roles B ---------------------------------------->
                <div class="col-md-6 mx-auto">
                    <div class="wrap-AvatarnoH">
                        <div class="wrap-login100noH">

                            <!-- Section - 1 ---------------------------------------->
                            @using (Html.BeginForm("RoleAddToUser", "Roles"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <h4 style="color:#4a4a4a;">Add a Role to a User</h4>
                                <hr style="border-bottom:2px dotted #4a4a4a;" />

                                <div class="row mx-auto">
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                        User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
                                    </div>
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
                                    </div>

                                    <div class="col-4 mx-0 container-login100-form-btn">
                                        <input type="submit" value="Save" class="login100-form-btn" />
                                    </div>
                                </div>
                                <br />
                            }

                            <!-- Section - 2 ---------------------------------------->
                            @using (Html.BeginForm("GetRoles", "Roles"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <h4 style="color:#4a4a4a;">List Roles for a User</h4>
                                <hr style="border-bottom:2px dotted #4a4a4a;" />

                                <div class="row mx-auto">
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                        User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
                                    </div>
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                    </div>

                                    <div class="col-4 mx-0 container-login100-form-btn">
                                        <input type="submit" value="Get Roles" class="login100-form-btn" />
                                    </div>
                                </div>
                                <br />
                            }
                            @if (ViewBag.RolesForThisUser != null)
                            {
                                <div class="alert-info">
                                    <strong>Roles for this user </strong>
                                    <ol>
                                        @foreach (string s in ViewBag.RolesForThisUser)
                                        {
                                            <li>@s</li>
                                        }
                                    </ol>
                                </div>
                            }

                            <!-- Section - 3 ---------------------------------------->
                            @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <h4 style="color:#4a4a4a;">Remove Role from User</h4>
                                <hr style="border-bottom:2px dotted #4a4a4a;" />

                                <div class="row mx-auto">
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                        User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...")
                                    </div>
                                    <div class="col-4 mx-0 wrap-avabox text-left">
                                        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
                                    </div>

                                    <div class="col-4 mx-0 container-login100-form-btn">
                                        <input type="submit" value="Remove Role" class="login100-form-btn" />
                                    </div>
                                </div>
                                <br />
                            }

                            <hr />

                            <div class="alert-info col-sm-12 col-lg-12 col-md-12">
                                @ViewBag.Message
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

